{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>History</title>
   <link rel="stylesheet" type="text/css" href="{% static 'main/end.css' %}">
</head>
<body>
  	<div class="container">
		{% for el in story %}
	    <div class="section">
			<div class="content">
				<h2>{{ el.name }}</h2>
				<h2>{{ el.surname }}</h2>
				<p>{{ el.story }}</p>
				<h3>{{ el.date }}</h3>
			</div>
		</div>
		{% endfor %}
    	<div class="section">
      		<div class="content">
        		<h2></h2>
        		<p></p>
      		</div>
    	</div>
	 	
	    <div class="section">
	      	<div class="content">
	        	<h2></h2>
	        	<p></p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2></h2>
	        	<p></p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2></h2>
	        	<p></p>
	      	</div>
		</div>
	</div>
</body>
</html>
