{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>History</title>
   <link rel="stylesheet" type="text/css" href="{% static 'main/end.css' %}">
</head>
<body>
  	<div class="container">
    	<div class="section">
      		<div class="content">
        		<h2>Alatoo-dance</h2>
        		<p> is a university dance club.  The goal of the club is not only the development of folk dances, but also the development of modern Korean culture (K-POP).  Dance Club Ala-Too is also engaged in the production of dance and trains all interested students.</p>
      		</div>
    	</div>
	 	
	    <div class="section">
	      	<div class="content">
	        	<h2>Music club</h2>
	        	<p> - was created to develop the creative potential of students.  The university has various types of musical instruments - from the piano to the drum system, here students can practice their skills or learn to play.  In the club, students share their experience in owning various musical instruments,also participate in all activities  of the  university.</p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2>Enactus</h2>
	        	<p>  is an international non-profit organization designed to inspire students to improve the world through entrepreneurship.  The club provides a platform for teams of outstanding university students to create community development projects that put human ingenuity and talent at the center of improving their livelihoods.  Guided by teachers and supported business leaders, students adopt an entrepreneurial approach that allows people to be part of their own success.</p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2>Financial Club</h2>
	        	<p>  is a platform for students where students can find a practice of their knowledge.  The club also teaches students of financial literacy, high-quality scientific research and the preparation of a competitive financial department specialist.</p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2>The Club of International Relations</h2>
	        	<p> is an organization created by the initiatives of students of the Faculty of International Relations.  The main goal of this organization is the use of theories in practice. <br>
 The objectives of the Club of International Relations are:<br>
 • Develop students as individuals, creating a solid foundation for their successful future. <br>
 • Help students gain additional knowledge on their specialization. <br>
 • Collect and provide students with all the necessary information about events where someone who wants to participate will have the opportunity to get acquainted with valuable information. <br>
 • Be a center where every student can meet new people, expanding their connections.</p>
	      	</div>
	    </div>
	</div>
</body>
</html>
