{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>History</title>
   <link rel="stylesheet" type="text/css" href="{% static 'main/css/unic.css' %}">
</head>
<body>
    <div class="container">
    	<div class="section">
      		<div class="content">
        		<h2>Foundation</h2>
        		<p>The state governing body of the university is the Ministry of Education and Science of the Kyrgyz Republic. <br>
      The founder of Ala-Too International University is Sapat International Educational Institutions. <br>
     Ala-Too International University (AIU) was established in 1996 and it is located in Bishkek, the Kyrgyz Republic. <br>
    AIU is a legal entity, carries out its activities in accordance with the legislation of the Kyrgyz Republic. <br>
The governing bodies of the university are: <br>
- the supreme management body  - Founder; <br>
- executive body - Rector - Sanzharbek Erdolatov; <br>
- collegial body - academic council of the university..</p>
      		</div>
    	</div>
	 	
	    <div class="section">
	      	<div class="content">
	        	<h2>Campus</h2>
	        	<p> Our university consists of five blocks, where there are classrooms and laboratories equipped with the Internet and modern interactive whiteboards. Our "Campus" is an educational center with a library, a conference hall, 3 stadiums, 1 tennis cord, 1 gym, 6 computer classes, 1 Internet club, 1 research center, 2 cantinas, 1 medical center.</p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2>Faculties</h2>
	        	<p>  There are 4 faculties, 3 institutes and 16 departments in AIU.
     The main language of instruction is English. Russian, Kyrgyz and Turkish are auxiliary languages. In addition, students of individual faculties can choose a second foreign language, they can choose from Japanese, German, Chinese, French. For those who do not speak English, there are preparatory courses. Upon graduation, the graduates of the University are given a State higher professional education diploma of the Kyrgyz Republic.</p>
	      	</div>
	    </div>
	    <div class="section">
	      	<div class="content">
	        	<h2>Teachers and students</h2>
	        	<p> Students from more than 20 countries study at the university.
     In order to strengthen its position on market of education, the university is working on the opening of new educational programs that are in demand in the new information and competitive job market.
      For the period of 1996-2017 some changes had been made to the  structure of the university - new educational technologies were introduced and their applications were expanded.
      The staffing of the AIU is composed of highly qualified, experienced, young, active teachers from Kyrgyzstan, Turkey,  USA, China, India and other countries. Undergraduate, graduate and postgraduate programs are conducted in a multicultural and democratic atmosphere of mutual respect. Our university has bilateral agreements with some universities in Europe, China, America, Turkey and Cyprus.
     We carry out the exchange programs for students and teaching staff in the following programs: Mevliana, Erasmus. Such programs would allow students and teachers an opportunity to continue their studies for 1-2 semesters at various universities and to share their experiences.
    Having received a higher professional education, computer knowledge, confidence and life experience, and mastering foreign languages and features of etiquette, 80% of our university graduates can easily enter into modern, informational and competitive working life.</p>
	      	</div>
	    </div>
	</div>
</body>
</html>
