{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="bgrnd">
        <img src="{% static 'main/img/img1.jpg' %}" alt="size" width="1450px">
    </div>
	<div class="logo"> 
		<ul>
			<h2 class="first">OUR</h2>
			<h2 class="second">HISTORY</h2>
		</ul>
	</div>

 	<div class="slide">
		<img src="https://st-1.akipress.org/st_all/bilim/9/1519540999.2.jpg" alt="logo" style="width:454%;height:287%;">
	</div>

	<div>
		<div class="checkout">
			<a href="{% url 'slider' %}"><button>READ</button></a>
		</div>
	</div>
</body>
</html>