{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
		<title>Main</title>
	</head>
	<body>
	  	<section>
	    	<div class="content">
		      	<h2>University History</h2>
		      	<h3>Learn about how our beautiful university was founded!</h3>
		      	<p>The state governing body of the university is the Ministry of Education and Science of the Kyrgyz Republic.
					The founder of Ala-Too International University is Sapat International Educational Institutions.
					Ala-Too International University (AIU) was established in 1996 and it is located in Bishkek, the Kyrgyz Republic...</p>
		      	<a href="{% url 'unic' %}" href="#">Read More</a>
	    	</div>
	  	</section>
	  	<section>
	    	<div class="content">
		      	<h2>Alumni Story</h2>
		      	<h3>How the Ala-Too alumni took advantage of the knowledge they gained here</h3>
		      	<p>If you are Ala-Too alumni and if you have a story to share, please contact us marmeladki@gmail.com</p>
				<a href="{% url 'endpage' %}" href="#">Read More</a>
				{% if request.user.is_authenticated and request.user.is_staff %}
				<a href="{% url 'create' %}" href="#">Add Story</a>
				{% endif %}
	    	</div>
	    </section>
	    <script src="{% static 'main/css/scroll-out.js' %}"></script>
	    <script type="text/javascript">
	      	ScrollOut({
	        	targets: 'h2,h3,p,a'
	      	})
	    </script>
	</body>
</html>