body {
  background-image: url('../img/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#title {
  padding-top: 3vh;
  -webkit-animation: slidefd 2s forwards;
  -moz-animation: slidefd 2s forwards;
  animation: slidefd 2s forwards;
}

h2 {
    color: white;
    font-size: 8.5vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2.first {
    text-align: right;
    font-family: revert;
}

h2.second {
    font-family: -webkit-pictograph;
}

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table, th, td {
    text-align: center;
}

#logo {
  padding-left: 1vw;
}

#logo img {
    width: 30vh;
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
}


@-webkit-keyframes slideIn {
    0% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(0);
    }
  }

@-webkit-keyframes slidefd {
    0% {
      transform: translateX(-600px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slidefd {
    0% {
      transform: translateX(-600px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slidefd {
    0% {
      transform: translateX(-600px);
    }
    100% {
      transform: translateX(0);
    }
  }

#read {
  padding-top: 4vh;
}

#read a button {
    text-align: center;
    background: #d40e1e;
    border: none;
    padding: 1vh 3vw;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 3vh;
    text-transform: uppercase;
    transition: .5s;
}

#read a button:hover {
    box-shadow: 0 0px 24px 4px #d40e1e;
    transition: .5s;
}